.navigation {
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        width: 40px;
        height: 40px;
        object-position: left;
        object-fit: cover;
    }

    &__list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        display: flex;
        align-items: center;
        list-style-type: none;
        gap: 30px;
    }

    &__link {
        text-decoration: none;
        text-transform: uppercase;
        font: var(--navigation-font);
        color: var(--light-color);
        opacity: 0.5;
        transition: var(--base-time);

        &:hover {
            opacity: 0.75;
        }

        &--active {
            opacity: 1;
        }
    }

    &__button {
        padding: 6px 15px;
        color: var(--light-color);
        font: var(--navigation-font);
        border-radius: 15px;
        border: 2px solid var(--light-color);
        text-decoration: none;
        display: inline-block;
        transition: var(--base-time);

        &:hover {
            text-decoration: underline;
        }
    }

    &__toggle {
        width: 34px;
        height: 34px;
        display: none;
        background: none;
        border: none;
        background-image: url('/assets/icons/menu.svg');
    }

    &--burger {
        padding: 20px;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: var(--navigation-color);

        .navigation {
            &__container {
                height: 100%;
                justify-content: center;
                flex-direction: column;
            }

            &__list {
                width: 100%;
                grid-column: 1 / 3;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 40px;
                margin-bottom: 40px;
            }

            &__toggle {
                background-image: url('/assets/icons/close.svg');
            }

            &__button {
                display: block;
                margin-bottom: auto;
            }
        }
    }
}
