.team-member {
    text-align: center;

    &__avatar {
        height: 200px;
        border-radius: 50%;
        overflow: hidden;
        width: 200px;
        object-fit: cover;
        margin-bottom: 20px;
    }

    &__name {
        color: var(--accent-color);
        font: 500 15px var(--base-font-family);
        text-transform: uppercase;
        margin-top: 0;
        margin-bottom: 0;
    }

    &__position {
        font: 400 14px var(--base-font-family);
        margin-top: 10px;
        margin-bottom: 10px;
    }

    &__cv {
        color: var(--accent-color);
        margin-bottom: 0;

        .icon {
            filter: invert(51%) sepia(40%) saturate(765%) hue-rotate(173deg)
                brightness(84%) contrast(93%);
        }
    }
}
