@import '../components/platform-feature';

.about {
    text-align: center;

    &__container {
        padding-left: 40px;
        padding-right: 40px;
    }

    &__description {
        display: inline-block;
        width: 500px;
        margin-bottom: 20px;
    }

    &__text {
        p {
            margin-top: 0;
            margin-bottom: 0;
            font: var(--base-font);
        }
    }

    .platform-features {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 1fr;
        gap: 20px;
    }
}
