@import '../components/sign-up-field';
@import '../components/social-links';

.footer {
    background-color: var(--footer-color);
    padding-top: 20px;
    padding-bottom: 40px;
    text-align: center;

    &__sign-up {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    &__divider {
        background-color: rgba(var(--light-color-rgb), 0.3);
        height: 1px;
    }

    &__grid {
        margin: 40px auto 20px auto;
        display: grid;
        grid-template-columns: repeat(3, 160px);
        justify-content: space-between;
        width: 720px;
    }

    &__section {
        text-align: left;
    }

    &__subtitle {
        margin-top: 0;
        margin-bottom: 10px;
        font: 700 15px var(--base-font-family);
        color: var(--light-color);
    }

    &__list {
        margin-top: 0;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        font: 400 15px var(--base-font-family);

        li {
            &:not(:last-of-type) {
                margin-bottom: 10px;
            }
        }

        a {
            color: var(--light-color);
            text-decoration: none;
        }
    }

    &__copyright {
        margin-top: 40px;
        margin-bottom: 0;
        color: var(--light-color);
        font: 400 14px var(--base-font-family);
    }
}
