@import '../components/technology-table';
@import '../components/technology-sale';
@import '../components/sales-chart';

.statistic {
    padding-bottom: 60px;

    &__description {
        text-align: center;
        width: 800px;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 47px;
    }

    &__text {
        p {
            margin-top: 0;
            margin-bottom: 0;
            font: var(--base-font);

            &:not(:last-of-type) {
                margin-bottom: 20px;
            }
        }
    }

    .sales-charts {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .technology-sales {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(3, 1fr);
        margin-bottom: 30px;
    }
}
