@import '../components/team-member';

.teams {
    .team-members {
        &__list {
            justify-content: center;
            gap: 10px;
        }

        &__next,
        &__previous {
            z-index: 2;
            position: absolute;
            top: calc(100px - 14px);
        }

        &__previous {
            left: 0;
        }

        &__next {
            right: 0;
        }
    }

    &__section {
        text-align: center;
        padding-left: 80px;
        padding-right: 80px;

        &:not(:last-of-type) {
            margin-bottom: 40px;
        }
    }
}
