.button {
    padding: 10px 20px;
    border-radius: 25px;
    border: 2px solid var(--light-color);
    font: 500 15px var(--base-font-family);
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    color: var(--light-color);
    display: inline-block;

    &--filled {
        background-color: var(--light-color);
        color: var(--theme-color);
    }
}
