.icon {
    &-feat-1 {
        content: url('/assets/icons/feat-1.svg');
    }

    &-feat-2 {
        content: url('/assets/icons/feat-2.svg');
    }

    &-feat-3 {
        content: url('/assets/icons/feat-3.svg');
    }

    &-feat-4 {
        content: url('/assets/icons/feat-4.svg');
    }

    &-feat-5 {
        content: url('/assets/icons/feat-5.svg');
    }

    &-feat-6 {
        content: url('/assets/icons/feat-6.svg');
    }

    &-linked-in {
        content: url('/assets/icons/linked-in.svg');
    }

    &-twitter {
        content: url('/assets/icons/twitter.svg');
    }

    &-telegram {
        content: url('/assets/icons/telegram.svg');
    }

    &-facebook {
        content: url('/assets/icons/facebook.svg');
    }

    &-youtube {
        content: url('/assets/icons/youtube.svg');
    }

    &-arrow-left {
        content: url('/assets/icons/arrow-left.svg');
    }

    &-arrow-right {
        content: url('/assets/icons/arrow-right.svg');
    }
}
