@import 'variables';

.container {
    width: var(--container-width);
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: $breakpoint-sm) {
    .container {
        --container-width: 320px;
    }
}

@media screen and (min-width: $breakpoint-sm) {
    .container {
        --container-width: 560px;
    }
}

@media screen and (min-width: $breakpoint-md) {
    .container {
        --container-width: 740px;
    }
}

@media screen and (min-width: $breakpoint-lg) {
    .container {
        --container-width: 1080px;
    }
}
