:root {
    --accent-color: #d80525;
    --accent-color-rgb: 216, 5, 37;
    --theme-color: #427ec6;
    --theme-color-rgb: 66, 126, 198;
    --light-color: #fff;
    --light-color-rgb: 255, 255, 255;
    --cold-color: #ecf2f9;
    --secondary-color: #9a9da2;
    --dark-color: #343536;
    --darker-color: #000;
    --header-color: #3372c6;
    --navigation-color: #3170c4;
    --footer-color: #265389;

    --base-font-family: 'Rubik', sans-serif;
    --navigation-font: 500 15px var(--base-font-family);
    --title-font: 500 29px var(--base-font-family);
    --base-font: 400 18px var(--base-font-family);

    --base-time: 0.2s;
}

$breakpoint-lg: 1200px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;
