:root {
    --accent-color: #d80525;
    --theme-color: #427ec6;
    --light-color: #fff;
    --cold-color: #ecf2f9;
    --dark-color: #343536;

    --base-font-family: 'Rubik', sans-serif;
    --navigation-font: 500 15px var(--base-font-family);
    --title-font: 500 29px var(--base-font-family);
    --base-font: 400 18px var(--base-font-family);

    --base-time: 0.2s;
}
